{% extends "@Main/base.html.twig" %}

{% block body1 %}

    <div class="swiper-container main-slider" id="myCarousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide slider-bg-position" style="background:url('http://3.bp.blogspot.com/_18SLqASqW10/TMMPRS2MkgI/AAAAAAAADPA/IjuR_VnDrGw/s1600/edelhert+blog+okt+2010+A.jpg')" data-hash="slide2">
                <h2>Beleef de natuur</h2>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
        <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
    </div>

    <!-- Benefits
        ================================================== -->
    <section class="service-sec" id="benefits">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Activiteiten <small>in de buurt</small></h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        {% for activiteit in activiteits %}
                            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
                                <h3>{{ activiteit.naam }}p</h3>
                                <p>{{ activiteit.beschrijving }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4"> <img src="http://grafreez.com/wp-content/temp_demos/burnout/img/side-01.jpg" class="img-fluid" /> </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

    <!-- About
        ================================================== -->
    <section class="about-sec parallax-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2><small>Hotel</small>La<br>
                        Caserai</h2>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</p>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</p>
                    <p><a href="{{ path('activiteit_index') }}" class="btn btn-transparent-white btn-capsul">De omgeving</a></p>
                </div>
            </div>
        </div>
    </section>



{% endblock %}